# Compiled Python files
*.pyc
**/__pycache__
# Mac files
**/.DS_Store
# swp files
*.swp 
*.swo
# Other compiled files
*.o
*.so
# Perso
aux/lfatools
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v631.NDPSFI
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v631.sorted
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.sorted
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.test
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.test.v2
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.test.v3
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.test.v4
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.test.v99
examples/namelist/ARPCLIMAT/nam.atm.tl127l91r.CMIP6.v642.v98
examples/namelist/ARPPNT/nam.atm.cy48t1_op1.08.cmip
examples/namelist/ARPPNT/nam.atm.cy48t1_op1.08.cmip.v2
examples/namelist/ARPPNT/nam.atm.cy48t1_op1.08.cmip.v3
examples/namelist/ARPPNT/nam.atm.cy48t1_op1.08.cmip.v4
examples/namelist/ARPPNT/nam.atm.cy48t1_op1.08.cmip.v5
examples/namelist/ARPPNT/nam.atm.cy49t1_op0.04
# Files too big for github
data/rrtm/rrtm.const.02.tgz
data/rrtm/rrtm.const.04.tgz
data/rrtm/ecrad.cy49t1.tgz
